@media (min-device-width: 992px) and (max-device-width: 1172px) {
	.wrap {
		background: url(../image/man-2.jpg) no-repeat;
		background-size: cover;
		width: 70%;
		left: 0;
		right: 0;
		margin: 0 15%;
	}
	p {
		width: 35%;
		position: absolute;
		top: 15%;
		left: auto;
		right: 9%;
		font-size: 0.7em;
	}
}

@media (max-device-width: 991px) {
	.wrap {
		height: 420px;
	}
	p {
		position: relative;
		top: 1%;
		color: #000;
		text-align: center;
	}
}